<header class="w-full bg-[#F9FAFB]">
  <div class="header flex justify-between items-center px-8 py-5 gap-x-5 md:gap-x-10 gap-y-4  flex-wrap mx-auto">
    
    <!-- Logo -->
    <div class="logo mx-auto w-full md:w-44 flex justify-center order-1">
      <img src="{{getheaderdata.headerImg}}" alt="">
    </div>

    <!-- Search Box -->
    <div class="searchBox order-2 w-48 h-10 md:w-72 md:h-10 bg-white border border-[#E7EAEE] flex flex-grow justify-between items-center px-4 py-2 rounded-lg">
      <input type="text" placeholder="Search"
        class="searchInput text-xs font-normal opacity-60 outline-none w-10">
      <div class="icons">
        <ul class="flex">
          @for(icons of getheaderdata.icons; track icons) {
          <li class="flex items-center text-xs px-2.5 last:pr-0 border-r last:border-0 border-[#000]">
            <fa-icon [icon]="icons"></fa-icon>
          </li>}
        </ul>
      </div>
    </div>

    <!-- Header Right -->
    <div class="headerRight mx-auto order-3">
      <ul class="flex items-center gap-5 md:gap-7 font-medium text-[#333333] text-sm">
        @for(item of getheaderdatanew.sub; track item) {
        <li class="flex items-center gap-2 hover:text-[#2867d9] cursor-pointer [&:nth-child(1)]:hidden [&:nth-child(2)]:hidden md:[&:nth-child(1)]:inline-flex md:[&:nth-child(2)]:inline-flex">
          <fa-icon [icon]="item.icon"></fa-icon>
          <span class="hidden md:inline-flex">{{item.label}}</span>
        </li>}
      </ul>
    </div>
  </div>

  <!-- Menu -->
  <div class="hidden md:block border border-gray-200 bg-white px-8">
    <ul class="flex justify-between items-center text-sm text-[#222D37] font-medium">
      @for (item of getheaderdata.headerBottom; track item; let i = $index) {
      <li class="relative hover:bg-[#f1f8ff] py-3.5 px-2 group [&:nth-child(n+6)>ul]:left-auto [&:nth-child(n+6)>ul]:right-0">
        {{ item.title }}

        <!-- Submenu -->
        <ul *ngIf="item.sub?.length"
          class="absolute top-full hidden group-hover:block bg-[#f1f8ff] shadow-lg min-w-[250px] z-50 left-0">
          @for (subItem of item.sub; track subItem) {
          <li class="px-4 py-2 text-[#222D37] hover:text-[#2867d9]">{{ subItem }}</li>}
        </ul>
      </li>}
    </ul>
  </div>
</header>
